       /* --------------------------   Header -----------------------------  */
       .header{
        width:100%;
        height:70px;
        border:none;
        background-color: black;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .navigation-button-set{
        width:600px;
        height:70px;
        border: none;
        background-color:black;
        display:flex;
        flex-direction: row;
    }
    .company-name{
        width:200px;
        height:70px;
        border:none;
        background-color:black;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
    }
    .name{
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        font-weight:bold;
        margin-top: 25px;
    }
    .navigation-button{
        width:100px;
        height:70px;
        background-color:black;
        border:none;
        color:white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        cursor:pointer;
    }
    .navigation-button:hover{
        border:solid 2px white;
    }
    #create-account-button{
        background-color: white;
        color:black;
    }
    #create-account-button:hover{
        border:solid 2px black;
    }
    
    
    /* ------------------------------sub-header --------------------------------------------*/
    .sub-header{
        width:100%;
        height:70px;
        border:none;
        background-color:brown;
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
    
    /*------------------------------- Background-image --------------------------*/
    .image{
        background-image: url("../images/background03.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height:600px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
    
        /* ------------------------------- create-customer-account-form ---------------------------------*/
        .create-customer-account-form{
            width:600px;
            height:510px;
            border:black 2px solid;
            background-color: white;
        }
        .form-header{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:30px;
            text-align: center;
            text-decoration: underline;
        }
        .input-field{
            width:550px;
            height:50px;
            
            margin-top: 20px;
            margin-left: 25px;
        }
        label{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight:600;
        }
        .text-input{
            height:30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
        }
        .confirm-button{
            width:200px;
            height:50px;
            background-color:yellowgreen;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-weight:600;
            border:none;
            border-radius: 20px;
            cursor:pointer;
            transition:box-shadow 0.2s;
            margin-top:20px;
            margin-left: 200px;
        }
        .confirm-button:hover{
            box-shadow: 2px 2px 2px black;
        }
        .submit-button{
            width:200px;
            height:50px;
            background-color:blueviolet;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            font-weight:600;
            border:none;
            border-radius: 20px;
            cursor:pointer;
            transition:box-shadow 0.2s;
            margin-top:20px;
            margin-left: 200px;
        }
        .submit-button:hover{
            box-shadow: 2px 2px 2px black;
        }
    
    /*---------------------------------  Footer  --------------------------------*/
    .footer{
        width:100%;
        height:70px;
        background-color: black;
    }