.header{
    width:100%;
    height:70px;
    border:none;
    background-color: black;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.company-name{
width:200px;
height:70px;
border:none;
background-color:black;
display:flex;
flex-direction: row;
justify-content: space-around;
align-content: space-around;
}
.name{
color:white;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: large;
font-weight:bold;
margin-top: 25px;
}

/* ------------------------------sub-header --------------------------------------------*/
.sub-header{
    width:100%;
    height:70px;
    border:none;
    background-color:brown;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

/* ----------------------------- background-image ---------------------------------------*/
.background-image{
width:100%;
height:600px;
background-image: url("../images/birthday-party-background-01.jpg");
background-repeat: no-repeat;
background-size: cover;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

/*--------------------------- delete-birthday-party-registration-form ----------------------------*/

.delete-birthday-party-registration-form{
        width:600px;
        height:470px;
        border:black 2px solid;
        background-color: white;
    }
    .form-header{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:30px;
        text-align: center;
        text-decoration: underline;
    }
    .input-field{
        width:550px;
        height:50px;
        
        margin-top: 20px;
        margin-left: 25px;
    }
    label{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:600;
    }
    .text-input{
        height:30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }
    .confirm-button{
        width:200px;
        height:50px;
        background-color:yellowgreen;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight:600;
        border:none;
        border-radius: 20px;
        cursor:pointer;
        transition:box-shadow 0.2s;
        margin-top:20px;
        margin-left: 200px;
    }
    .confirm-button:hover{
        box-shadow: 2px 2px 2px black;
    }
    .submit-button{
        width:200px;
        height:50px;
        background-color:blueviolet;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-weight:600;
        border:none;
        border-radius: 20px;
        cursor:pointer;
        transition:box-shadow 0.2s;
        margin-top:20px;
        margin-left: 200px;
    }
    .submit-button:hover{
        box-shadow: 2px 2px 2px black;
    }

    /* -------------------------------------- footer ----------------------------------*/
.footer{
    width:100%;
    height:70px;
    background-color: black;
    }
